.mainBox
  .sideBar
    .sideBarTop
      .sideBarTop__userName
        = current_user.name
      = link_to edit_user_path(current_user) do
        %i.fa.fa-cog{"aria-hidden" => "true"}
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o{"aria-hidden" => "true"}
    .sideBarSpaceArea
    .chatHistory
      - @groups.each do |group|
        .chatHistory__groupName
          = group.name
        .chatHistory__groupChatHistory
          後ほど
  .chatBox
    .chatBoxTop
      %a.chatBoxTop__editButton{:href => "/groups/:id/edit"}
        Edit
      .chatBoxTop__groupName
        Group6
      .chatBoxTop__groupMember
        Member: Ryotanaka,JiroYamada
    .chatBoxSpaceArea
    .chatBoxBody
      .chatBoxBody__messageSender
        Tarotanaka
      .chatBoxBody__messageDatetime
        2017/06/01 13:47
      .chatBoxBody__chatMessage
        頼むから表示されてくれ。
      .chatBoxBody__messageSender
        Jiro
      .chatBoxBody__messageDatetime
        2017/06/01 14:29
      .chatBoxBody__chatMessage
        頼む
      .chatBoxBody__messageSender
        Saburo
      .chatBoxBody__messageDatetime
        2017/06/01 15:47
      .chatBoxBody__chatMessage
        頼
    .chatBoxFooter
      .chatBoxFooter__typingBox
        type a message
        %i.fa.fa-picture-o{"aria-hidden" => "true"}
      .chatBoxFooter__sendMessageButton
        %p Send
