%html
  %body{
    height: 100%;
    width:100%;
  }
    .header{
      background-color: $attentionColor;
      text-align: center;
      color: $whiteColor;
    }
    .mainBox{
      .sideBar{
        float:left;
        width: 300px;
        height: calc(100vh - 28px);
        &Top{
          background-color: #253141;
          color: $whiteColor;
          height: 16%;
          &__userName{
            font-size: 16px;
            font-weight: bold;
            padding-left: 20px;
            line-height: 120px;
            display: inline-block;
          }
          .fa.fa-cog{
            float: right;
            display: inline-block;
            line-height: 120px;
            padding-right: 20px;
            color: $whiteColor;
          }
          .fa.fa-pencil-square-o{
            float: right;
            display: inline-block;
            line-height: 120px;
            padding-right: 10px;
            color: $whiteColor;
          }
        }
        &SpaceArea{
          background-color: $chatHistoryColor;
          height: 20px;
          clear: both;
        }
        .chatHistory{
          background-color: $chatHistoryColor;
          height: calc(84% - 20px);
          padding-left: 20px;
          &__groupName{
            font-size: 15px;
            color: $whiteColor;
            padding-bottom: 5px;
          }
          &__groupChatHistory{
            font-size: 11px;
            color: $whiteColor;
            padding-bottom: 40px;
          }
        }
      }
      .chatBox{
        float: left;
        width:calc(100vw - 300px);
        height:calc(100vh - 29px);
        background-color: #AAAAAA;


        &Top{
          height: 16%;
          border-bottom: solid 1px #eeeeee;
          padding-left: 40px;
          padding-right: 40px;
          &__editButton{
            float: right;
            margin-top: 28px;
            height: 40px;
            width: 60px;
            border: solid 2px $attentionColor;
            color: $attentionColor;
            text-align: center;
            line-height: 40px;
          }

          &__groupName{
            padding-top: 35px;
            font-size: 20px;
            color: #333333;
          }
          &__groupMember{
            padding-top: 15px;
            font-size: 12px;
            color: $grayColor;
          }
        }
        &SpaceArea{
          height: 46px;
        }
        &Body{
          height: 70%;
          padding-left: 40px;
          padding-right: 40px;
          &__messageSender{
            float: left;
            font-size: 16px;
            font-weight: bold;
            color: messageColor;
          }
          &__messageDatetime{
            float: left;
            padding-left: 10px;
            font-size: 12px;
            color: $grayColor;
          }
          &__chatMessage{
            clear:both;
            padding-bottom: 40px;
            font-size: 12px;
            color: messageColor;
          }
        }
        &Footer{
          height: 14%;
          padding-left: 40px;
          padding-right: 40px;
          &__typingBox{
            float: left;
            height: 50px;
            font-size: 16px;
            background-color: $whiteColor;
            color: messageColor;
            margin-left: 10px;
            padding-left: 10px;
            width:900px;
            line-height: 50px;
              .fa.fa-picture-o{
                float: right;
                line-height: 50px;
                margin-right: 25px;
              }
          }
          &__sendMessageButton{
            float: right;
            height: 50px;
            width:100px;
            background-color: $attentionColor;
            color: $whiteColor;
            text-align: center;
            line-height: 50px;
          }
        }
      }
    }
