%html
  %body{
    height: 100%;
    width:100%;
  }
    .header{
      background-color: $attentionColor;
      text-align: center;
      color: $whiteColor;
    }
    .chatBox{
      float: left;
      width:calc(100vw - 300px);
      min-height: 2000px;
      background-color: #AAAAAA;
      position: relative;
      overflow: auto;


      &Top{
        height: 120px;
        border-bottom: solid 1px #eeeeee;
        padding-left: 40px;
        padding-right: 40px;
        &__editButton{
          float: right;
          margin-top: 28px;
          height: 40px;
          width: 60px;
          border: solid 2px $attentionColor;
          color: $attentionColor;
          text-align: center;
          line-height: 40px;
        }

        &__groupName{
          padding-top: 35px;
          font-size: 20px;
          color: #333333;
        }
        &__groupMember{
          padding-top: 15px;
          font-size: 12px;
          color: $grayColor;
        }
      }
      &SpaceArea{
        padding-top: 46px;
      }
      &Body{
        padding-left: 40px;
        padding-right: 40px;
        &__messageSender{
          float: left;
          font-size: 16px;
          font-weight: bold;
          color: messageColor;
        }
        &__messageDatetime{
          float: left;
          padding-left: 10px;
          font-size: 12px;
          color: $grayColor;
        }
        &__chatMessage{
          clear:both;
          padding-bottom: 40px;
          font-size: 12px;
          color: messageColor;
        }
        &__chatAvatar{

        }
      }
      &Footer{
        background-color: #AAAAAA;
        position: fixed;
        bottom:0;
        height: 14%;
        padding-left: 40px;
        width: calc(100vw - 300px);
        &__typingBox{
          float: left;
          height: 50px;
          font-size: 16px;
          background-color: $whiteColor;
          color: messageColor;
          margin-left: 10px;
          padding-left: 10px;
          width:870px;
          line-height: 50px;
          margin-top: 50px;
        }
        .fa.fa-image{
          line-height: 50px;
          margin-left: 20px;
          margin-top: 50px;
        }
        &__sendMessageButton{
          float: right;
          margin-top: 50px;
          margin-right: 80px;
          height: 50px;
          width:100px;
          background-color: $attentionColor;
          color: $whiteColor;
        }
      }
    }
